In [112]:
import numpy as np
import pandas as pd
import mne
import csv, json
import datetime

In [113]:
sample_folder = './samples/'
file_name = 'Veh70_02202015'

In [114]:
def edf_to_pandas(edf_path, scores_path):
    edf = mne.io.read_raw_edf(edf_path)
    sampling_rate = int(edf.info['sfreq'])
    name = datetime.datetime.utcfromtimestamp(edf.info['meas_date'][0]).strftime('%Y-%m-%d %H:%M:%S')
    
    header = (','.join(edf.ch_names)).split(',')
    df = edf.get_data().T
    df = pd.DataFrame(data=df, columns=header)
    
    scores = pd.read_excel(scores_path, keep_default_na=False)
    repeat_score = int(df.shape[0]/scores.shape[0])
    scores = np.repeat(scores.values, repeat_score)
    
    scored_rows = min(df.shape[0], scores.shape[0])
    df = df[:scored_rows]
    
    df['Score'] = scores
    df.index.name = name
    
    return df

In [115]:
df = edf_to_pandas(sample_folder+file_name+'.edf', sample_folder+file_name+'.xls')
df.head()

Extracting EDF parameters from C:\Users\Kr0no\Documents\UB\AutoScorer-ADS\model\samples\Veh70_02202015.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...

                            EEG         EMG Score
2015-02-21 22:00:00
0                   -340.152835  655.843557    NA
1                   -367.185416  843.345617    NA
2                   -375.212013  834.127890    NA
3                   -361.986843  977.789540    NA
4                   -349.343913  521.624456    NA

In [116]:
def resampling_pandas(df, output_sampling_rate):
    pass #TODO